*::before,*::after{
    box-sizing:  border-box;
} 

body, h1,h2,h3,h4,p,ul,li{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    background: linear-gradient(45deg, #fbc2eb, #a6c1ee, #f6d365, #fda085);
    background-size: 400% 40%;
    animation: gradient-move 15s ease infinite;

    
}
@keyframes gradient-move {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
    
}